<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <add name="MyDbConn" connectionString="Server=Omar-PC\sqlexpress; Database=DBProjectFinal2; Trusted_Connection=Yes;"/>
    <add name="DBProjectFinal2ConnectionString" connectionString="Data Source=OMAR-LAPTOP\SQLEXPRESS;Initial Catalog=DBProjectFinal2;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

</configuration>